{% extends 'authapp/base.html' %}
{% load static %}


{% block content %}
    <form class="form-horizontal" action="{% url 'auth:edit' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ edit_form.as_p }}
        {{ profile_form.as_p }}
        <input class="form-control" type="submit" value="сохранить">
        <!--{{ user_profile.get_gender_display }} &lt;!&ndash;подгрузится второе значение (М или Ж)&ndash;&gt;-->
        <!--{{ user_profile.gender }} &lt;!&ndash;выведется то что в базе (MALE или FEMALE )&ndash;&gt;-->
    </form>
    <button class="btn btn-round form-control last">
        <a href="{% url 'main' %}" class="">
            на главную
        </a>
    </button>
    <div class="user_avatar"><img src="/media/{{ user.avatar }}"></div>
{% endblock %}
